﻿html, body{
margin:0;
padding:0;
min-width:1200px;
_min-height:768px;
}
#container{
	margin:0;

}
.div_1{
		margin-top:0px;
    background:url(../img/back_1.jpg) no-repeat;
    background-size: 1900px;
    width:100%;
    height:750px;
 }
 .active{
 	position:absolute;
 	padding-top:29px;
 	margin-left:280px;
	width: 189px;
	height: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 20px;
 }
 .active a{
 	text-decoration:none;
 	color:grey;
 }
 .box{
 	color:white;
 	font-weight: 100;
 	font-size: 20px;
 }
nav{
	text-align:right;	
	padding-right:280px;
	padding-top:30px;
	height:50px;
		}
nav a{
	text-decoration:none;
	color:  #ffffff;
	font-family: 'Raleway';
	font-size: 13px; /* Приближение из-за подстановки шрифтов */
	font-weight: 800;
	text-align: center;
	padding-left:10px;
}
hr{
 	 height:1px;
 	 background-color:grey;
 	 width:1090px;
 	 border: none;
 	 margin: auto; 
 	 margin-top:22px;
}
 .text_1{
 	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 65px; /* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 71px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	width:870px;
	height:119px;
	padding-top:100px;
  margin: auto;
 }
 .text_2{
	font-family: 'Raleway';
	color: #ffffff;
	font-size: 22px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 33px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	width:917px;
	height:55px;
	padding-top:115px;
	margin: auto;
 }
 .find{
 	font-family: 'Raleway';
 	border-radius: 2px;
	background-color: #e84545;
	margin-top:90px;
	margin-left:723px;
	text-align:center;
	vertical-align:bottom;
	width: 200px;
	height: 46px;
  line-height: 3em;
  margin: auto;
  margin-top:170px;
 }
 .find a{
 	color:white;
 	text-decoration:none;
 }
 .find:hover{
 	background:darkred;
 }
.div_2{
	margin-top:50px;
	/*height: 750px;*/
	display: block;
	width:100%;
	text-align:center;
}
.easily{
	width:100px;
	display:inline-block;
	margin-bottom:20px;
	margin-left:50px;
	margin-top:30px;
	padding-bottom:0 0 0 0;
	width:360px;
	font-family: 'Raleway';
	color: #6c7279;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 21px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	padding:15px;
	border-collapse:collapse;
}
.easily h5{
	font-family: 'Raleway';
	color:  #2d3033;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center
}

.div_3{
	margin-top:0px;
	_height: 100%;
	width:100%;
}
.table2{
	margin-left:0px;
	margin-right:0px;
	border-spacing:1px;
	border-top:0px;
	width:100%;
}
.table2 td{
 padding:0 0 0 0;
}
.div_4{
padding-top:50px;
text-align:center;
background-color: #3a3e64;
width: 100%;
_height: 250px;
}
.loc{
font-family: 'Raleway';
color: #ffffff;
font-size: 14px; /* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
display:inline-block;
margin:0 80px;
}
.adr {
	margin-top:10px;
font-family: 'Raleway';
color: #6c7279;
font-size: 14px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 22.5px; /* Приближение из-за подстановки шрифтов */
text-align: center;
display:inline-block;
}
.share{
	font-family: 'Raleway';
	color: #ffffff;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 22.5px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	display:inline-block;
	margin:0px 100px;
}
.ab{
	font-family: 'Raleway';
	color: #ffffff;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 22.5px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	display:inline-block;
}
.about{
	font-family: 'Raleway';
	color: #6c7279;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 22.5px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	display:inline-block;
}
.table3{
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.table3 tr{
padding-top:0px;
}
.table3 td{
padding-bottom:0px;
}
.f{
padding-top:7px;
border-radius: 2px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
box-sizing: border-box;
background-color: rgba(255, 255, 255, 0);
width: 40px;
height: 40px;
display:inline-block;
}
.t{
	    width: 20px;
    height: 14px;
    background-position: -74px -10px;
	padding-top:11px;
	border-radius: 2px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
box-sizing: border-box;
background-color: rgba(255, 255, 255, 0);
width: 40px;
height: 40px;
display:inline-block;
}
.in{
	width: 16px;
  height: 16px;
  background-position: -38px -10px;
	padding-top:9px;
	border-radius: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0);
	width: 40px;
	height: 40px;
	display:inline-block;
}
.sprite{
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}
.sprite-f {
    width: 28px;
    height: 52px;
    background-position: 3px -9px;
}

.sprite-t {
    width: 49px;
    height: 38px;
    background-position: -67px -11px;
}

.sprite-in {
    width: 32px;
    height: 27px;
    background-position: -29px -10px;
}
footer{
background-color: #313454;
width: 100%;
height: 94px;
}
.foot{
font-family: 'Raleway';
color: #ffffff;
font-size: 14px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 22.5px; /* Приближение из-за подстановки шрифтов */
text-align: center;
}
.w{
	width: 100%;
	height:100%;
}
/* Ссылки и обёртка для картинок */
.img-link {
  display: inline-block;
  position: relative;
}
/* Общие стили для перекрывающих элементов */
.cover-bg,
.cover-title {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:100%;
}
/* Отображаем перекрывающие элементы при наведении на блок с картинкой */
.img-link:hover .cover-bg,
.img-link:hover .cover-title{
  display: block;
}
/* Полупрозрачный перекрывающий красный фон */
.cover-bg {
  background: red;
		 opacity: .6;
		 vertical-align: middle;
}
/* Перекрывающий текст */
.cover-title {
 font-family: 'Raleway';
color: #ffffff;
font-size: 14px; 
font-weight: 700;
text-align: center;
line-height: 2em;
vertical-align:middle;
margin-top:60px;
}
.spanuser{
	font-family: 'Raleway';
color:  #ffffff;
font-size: 14px;
font-weight: 400;
text-align: center;
vertical-align:middle;
}
.div_lector{
	padding-top:100px;
width: 100%;
text-align:center;
}
.lecturer {
	display:inline-block;
	padding-right:20px;
  text-align:left;
	}
.lecturer-name {
	margin-top:10px;
 font-family: Raleway;
color:  #2d3033;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
text-align: left;

}
.lecturer-prof {
	margin-top:10px;
	font-family: Raleway;
	color: #e84545;
	font-size: 13px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: left;

}
.lecturer-status {
	margin-top:10px;
	font-family: Raleway;
	color: #6c7279;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 21px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	width:270px;
}
.social{
	margin-top:20px;
	display:inline-block;
	margin-bottom:50px;
	}
.f_{
	padding-top:6px;
	border-style: solid;
	border-width: 1px;
	border-color: #e8ecee;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 40px;
	height: 40px;
	display:inline-block;
	text-align:center;
}
.t_{
	padding-top:10px;
	border-style: solid;
	border-width: 1px;
	border-color: #e8ecee;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 40px;
	height: 40px;
	display:inline-block;
	text-align:center;
}
.in_{
	padding-top:8px;
	border-style: solid;
	border-width: 1px;
	border-color: #e8ecee;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 40px;
	height: 40px;
	display:inline-block;
	text-align:center;
}

.sprite_{
	background-image:url("../img/spritesheet_.png");
	background-repeat: no-repeat;
  display: block;
}
.sprite-f_ {
    width: 79px;
    height: 50px;
    background-position: 0px -10px;
}
.sprite-t_ {
    width: 45px;
    height: 38px;
    background-position: -91px -13px;
}
.sprite-in_ {
    width: 45px;
    height: 27px;
    background-position: -43px -11px;
}

/*таблицы*/
table{
  padding-top:30px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
}
td{
	margin-top:30px;
	padding-bottom:0 0 0 0;
	width:360px;
	font-family: 'Raleway';
	color: #6c7279;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	_line-height: 21px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	padding:15px;
	border-collapse:collapse;
}

td h5{
	font-family: 'Raleway';
	color:  #2d3033;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center
}
td p{
	font-family: 'Raleway';
	color:  #6c7279;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 21px;/* Приближение из-за подстановки шрифтов */
	text-align: center;