body{
	margin:0 auto;
	padding:0;
	text-align:center;
}

a{
	text-decoration:none;
	color:#ffffff;
}
header{
	margin-bottom:-1.5rem;
}
menu{
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 15px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	background-color:  #373c3f;
	height: 90px;
	margin:0;
	margin-bottom:1.5rem;
}

menu li{
		float:left;
		list-style:none;
		padding:2rem 2% 0 0;
}

.menu-icon{
	display:none;
	fill:white;
	float:right;
	padding-top:1.5rem;
	height:100%;
}

#sec1{
	background: url("../img/Banner.png") no-repeat;
	height: 1300px;
	width:100%;
	background-size: cover;
}
#text_box{
	background: url("../img/Text Box.png") no-repeat;
	height:455px;
	background-size: cover;
	margin-bottom:0em;
	width:100%;
}

.pic{
	float:left;
	height:550px;
	width: 33.3%;
}

.right{
	background: url("../img/1_.png") no-repeat;
	background-size: cover;
}

.most{
	background: url("../img/most.png") no-repeat;
	background-size: cover;
}

.woman{
	background: url("../img/woman.png") no-repeat;
	background-size: cover;
}

.clr{
	clear:both;
	padding:0;
	margin:0;
}
#text{
	font-family: Montserrat;
	color:  #088ca5;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin:0 auto;

	column-count:2;
	column-width: 429px;
	column-gap:290px;
	background:#ebebeb;
	padding-bottom:5rem;
}

.text_1 h2{
	padding:2rem 0 2rem 25%;
}

.text_1{
	padding-left:30%; /*3*/
	padding-right:7%;
	padding-bottom:2.2rem;
}

.text_2{
	margin-top:-5.3rem;
}

.text_1 p{
	color:  #515051;
	width:429px;
	margin:0 2% 4.2rem 25%;
 }

.text_2 p{
	color:  #515051;
	width:429px;
	padding-top:7rem;
	margin:-2.8rem 2% -2.7rem 0;
}

/*-----------1280------*/
@media screen and (max-width:1280px){

header{
	margin-bottom:-1.5rem;
}

#sec1{
	height: 844px;
	margin-right:0;
}

#text_box{
	margin-top:-0.2rem;
	height: 306px;
	margin-bottom:0;
}

.right{
	margin-right: 0;
	margin-left:0;
	float:left;
	background-size: cover;
	height:415px;
	width: 33.3%;

}

.most{
	margin-right:0;
	float:left;
	background-size: cover;
	height:415px;
	width: 33.3%;

}

.woman{
	float:left;
	margin-right:0;
	background-size: cover;
	height:415px;
	width: 33.3%;

}

.text_1 h2{
	padding:2rem 0 2rem 25%;
}

.text_1{

	padding-left:8%; /*3*/
	padding-right:7%;
	padding-bottom:2.2rem;
	width: 429px;
}

.text_2{
	margin-top:-5.3rem;

}

.text_1 p{
	color:  #515051;
	width:429px;
 }

.text_2 p{
	color:  #515051;
	width:429px;
	padding-top:7rem;
}

}
/*-----------1024------*/
@media screen and (max-width:1024px)                                                            
{

html{
	font-size:14px;
}

header{
	margin-bottom:-1.5rem;
}

menu{
	height: 97px;
	margin:0;
}

menu li{
	padding:2rem 2% 0 2%;
}

#sec1{
	width:100%;
	height: 677px;
	margin-bottom:0rem;
}
#text_box{
	height:245px;
	margin-top:-0.2rem;
	width:100%;
	margin-bottom:0rem;
}

.right{
	margin-left: 0;
	height:295px;
	float:left;
	margin-right:0;
	background-size: cover;
	width: 33.3%;
}

.most{
	height:295px;
	float:left;
	margin-right:0;
	background-size: cover;
	width: 33.3%;
}

.woman{
	margin-right:0%;
	height:295px;
	float:left;
	background-size: cover;
	width: 33.3%;
}


.text_1 h2{
	padding:2rem 0 2rem 15%;
}

.text_1{
	padding-left:0; /*3*/
	padding-right:0;
	padding-bottom:2.2rem;
}

.text_2{
	margin-top:-33.8rem;

}

.text_1 p{
	margin:0 2% 3rem 15%;
	color:  #515051;
	width:429px;
 }

.text_2 p{
	margin:0 2% -4rem 55%;
	color:  #515051;
	width:429px;
}

}


/*-----------980------*/
@media screen and (max-width:980px)                                                            
{

html{
	font-size:14px;
}

header{
	margin-bottom:-1.5rem;
	width:94%;
	margin-right:-1.5rem;
}

menu{
	width: 102%;
	height: 97px;
	margin:0;
	margin-right:-2rem;
}

menu li{
	padding:2rem 3% 0 2%;
	margin-right:-2rem;
}

#sec1{
	margin-bottom:-3rem;
	width:100%;
}

#text_box{
width:100%;
}

.right{
width:33%;
}

.most{
width:33%;
}

.woman{
	margin-right:-1%;
	width:34%;
}

#text{
	column-width: 384px;
}

.text_1 h2{
	padding:2rem 0 2rem 15%;
}

.text_1{
	padding-left:0; /*3*/
	padding-right:0;
	padding-bottom:2.2rem;
}

.text_2{
	margin-top:-33.8rem;

}

.text_1 p{
	margin:0 2% 3rem 15%;
	color:  #515051;
	width:384px;
 }

.text_2 p{
	padding-top: 5.2rem;
	margin:0 2% -2.2rem 55%;
	color:  #515051;
	width:384px;
}

}

/*---------640------*/
@media screen and (max-width:640px)                                                            
{

html{
	font-size:14px;
}

 .menu-icon{
 	display:block;
 }
menu{
	width:100%;
}
 menu li{
 	display:none;
 	float:none;
 	background-color:red;
 	float:left;
	list-style:none;
	padding:2rem 2% 1rem 0;
	width:54%;
 }

header{
	margin-bottom:-0.5rem;
	width:93.7%;
}

#sec1{
	width:100%;
	height: 422px;
	background-size: cover;
	margin-bottom: 0;
}

#text_box{
	width:100%;
	height:149px;
	background-size:100%;
	margin-bottom:0;

}

.right{
	height:550px;
	width:100%;
	background-size:100%;
}

.most{
	margin-top:-0.7rem;
	height:550px;
	width:100%;
	background-size:100%;
}

.woman{
	margin-top:-1rem;
	height:550px;
	width:100%;
	background-size:100%;
	margin-bottom:0;
}

#text{
	margin-top:0;
	width:100%;

}
.text_1{
	padding-left:41.2%;
	float:left;
	width:58.8%;
}
.text_1 h2{
	margin-left:-30%;
}

.text_2{
display:none;
}

.text_1 p{
	width:341px;
	margin:0 -5% 4.1rem -30%;


}
}

/*---------320------*/
@media screen and (max-width:320px)                                                            
{

html{
	font-size:14px;
}
.menu-icon{
 	display:block;
 }
menu{
	width:100%;
}
 menu li{
 	background-color:red;
 	float:left;
	list-style:none;
	padding:1rem 0 0 0;
	width:61%;
	text-align:center;
 }

header{
	width:87.5%;
}

#sec1{
	width:100%;
	height:200px;
	background-size: cover;
	margin-bottom: 0.2rem;
}

#text_box{
	width:100%;
	margin-bottom:-4.8rem;
}

.right{
	margin-top:-0.6rem;
	width:100%;
}

.most{
	width:100%;
	margin-top:-19.5rem;
}

.woman{
	margin-top:-19.6rem;
	width:100%;
	height:277px;
}

.text_1{
	padding-left:0.6%;
	float:left;
	width:130%;
}

.text_1 h2{
	padding-top:2%;
	padding-left:11.5rem;
}

.text_2{
display:none;
}

.text_1 p{
	font-size:13.5px;
	width:254px;
	margin:-6% -5% 4.1rem 8%;
	padding-left:0;
}
}


