body
  margin: 0 auto
  padding: 0 auto
  text-align: center

#comment
  margin: 0 auto
  overflow: hidden
  width: 1400px
  height: 450px
  margin-bottom: 50px

  h2
    font-family: Raleway
    color:  #212121
    font-size: 36px
    font-weight: 400
    line-height: 43px
    text-align: center

  .line
    display: block
    width: 64px
    height: 2px
    background-color: orange
    margin: 0 auto
    margin-bottom: 40px

  h3
    font-family: OpenSans
    color:  #86878b
    font-size: 14px
    font-weight: 400
    line-height: 20px
    margin: 0 auto
  img
    padding: 0
    float: left
    margin-top: -15px
    padding: 0px 15px 0 5px

.dialog
  margin-top: 30px
  background: url("../img/dialog.png") no-repeat
  width: 250px
  float: left
  margin-right: 50px
  margin-left: 145px

  p
    font-family: OpenSans
    color:  #333333
    font-size: 20px
    font-weight: 700
    text-align: left
    margin-bottom: 5px


  span
    font-family: OpenSans
    color:  #86878b
    font-size: 14px
    font-weight: 400
    float: left


.text_dialog
  margin-bottom: 75px
  font-family: OpenSans
  padding: 15px 10px 0 15px
  color:  #86878b
  font-size: 14px
  font-weight: 400
  text-align: left
  width: 226px

#download
  margin-top: -30px
  background: url("../img/back.png") no-repeat
  background-size: cover
  text-align: center
  height: 320px


  h2
    padding-top: 50px
    font-family: Raleway
    color:  rgba(255, 255, 255, 0.5)
    font-size: 36px
    font-weight: 400
  

  .line
    display: block
    width: 64px
    height: 2px
    background-color: #ffffff
    margin: 0 auto
    margin-bottom: 40px

  p
    font-family: Raleway
    color:  rgba(255, 255, 255, 0.5)
    font-size: 16px
    font-weight: 300
    margin-bottom: 30px

.button
  margin: 0 auto
  border: 2px solid #d5d4d3
  font-family: OpenSans
  color:  rgba(255, 255, 255, 0.5)
  font-size: 15px
  font-weight: 600
  height: 30px
  width: 135px
  cursor: pointer
  padding-top: 15px

  a
    text-decoration: none
    color:  rgba(255, 255, 255, 0.5)
  


